sudo: required
language: android
jdk: oraclejdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - "$HOME/.m2"
    - "$HOME/-gradle"
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.2
    - android-29
    - extra


script:
  # - chmod +x ./gradlew
    - ./gradlew sonarqube  -Dsonar.projectKey=CalidadSoftwareG6_calidad-tetris -Dsonar.organization=calidadsoftwareg6 -Dsonar.host.url=https://sonarcloud.io
    - ./gradlew clean

before_install:
  - chmod +x gradlew
  - yes | sdkmanager "platforms;android-29"

deploy:
  provider: master
  file: calidad-tetris/app/release/app-release.apk
  skip_cleanup: true
  overwrite: true
  on:
    branch: master
    repo: CalidadSoftwareG6/calidad-tetris
    tags: true
    rvm: 2.0.0

